
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  
}
  
h1 {
  font-family: Avenir Next,Helvetica,Helvetica Neue,Arial,sans-serif;
  color: white
}

div {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainflex{
  display: flex;
}

.lefticon {
  position: absolute;
  top: 52%;
  left: 46%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.centericon {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.righticon {
  position: absolute;
  top: 52%;
  left: 54%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100%;
}

#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#responsive {
  display: inline-block;
  position: relative;
  width: 100%;
}

