
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  
}
  
h1 {
  font-family: Avenir Next,Helvetica,Helvetica Neue,Arial,sans-serif;
  color: white
}

div {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  white-space: nowrap;
}

.mainflex{
  display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 0%;
	max-width: 1280px;
  background-color: transparent;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
  width: 100%;
}

#nav-links {
  margin: auto;
}

ul {
  padding-inline-start: 0;
}

ul li {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  white-space: nowrap;
}

.icon{
  cursor: pointer;
}

/* .social-icon {
  display: inline-block; 
  margin: 0 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -100%);
}


.lefticon {
  position: absolute;
  top: 52%;
  left: 46%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.centericon {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.righticon {
  position: absolute;
  top: 52%;
  left: 54%;
  transform: translate(-50%, -50%);
  cursor: pointer;
} */

#container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100%;
}

#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#responsive {
  display: inline-block;
  position: relative;
  width: 100%;
}

